.skills-panel > .img-content > .rel-img > img:nth-child(1)
{
    height: 13rem;
    z-index: -3;
}
.skills-panel > .img-content > .rel-img > img:nth-child(2)
{
    position: absolute;
    top: 0rem;
    left: 4rem;
    height: 13rem;
    z-index: 3;
}
.skills-btn > .btn
{
    width: 12rem !important;
    border-radius: 1.5rem !important;
    background: #AE4FE4D1 !important;
}

/*progress svg styles*/
.svg-img
{
    position: relative;
    top: -6.8rem;
    left: 1.8rem;
    height: 4.8rem;
}

.circlechart > svg 
{
    box-shadow: 4px 5px 5px #c3cdd7, -4px -5px 5px #c7aeae;
}

.view-more,.less
{
    border: none;
    border-radius: 2rem;
    position: relative;
    top: -0.9rem;
    left: 38%;
    width: 3rem;
    color: #fff;
    background-color: #55d546;
    z-index: 10;
    box-shadow: 3px 3px 4px #cbced1, 0px 5px 3px #ffffff;
}
.less 
{
    background-color: #f37249;
}

/*progress svg styles*/

/* portfolio */
.portfolio-cards > .card 
{
    background: transparent;

    border: none;
}
.portfolio-cards > .card > .card-img-top
{
    height: 16rem;
    width: 20.5rem;
    margin-left: -1rem;
    /* border-bottom: 6px solid #28231c; */
    /* border-bottom-left-radius: 2rem; */
}
.portfolio-cards > .card > .card-body 
{
    background: transparent;
    box-shadow: 4px 5px 5px #cbced1, -4px 0px 3px #ffffff;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    position: relative;
    top: -2rem;
    width: 17.4rem;
    left: -1rem;
}

.portfolio-cards > .card > .card-body > .card-btns > .btn
{
    height: 3rem;
    width: 3rem;
    border-radius: 2rem;
    background: #3c7de1;
    box-shadow: 0px 4px 4px #9b7070;
    border: none;
}
.portfolio-cards > .card > .card-body > .card-title
{
    font-size: 23px;
    font-weight: 700;
}
.btn-logo > img
{
    height: 2rem;
    margin-left: -0.3rem;
    margin-top: 0.1rem;
}

.experience-cards > .row > .card 
{
    border: none;
}

.experience-cards > .row > .card > img 
{
    height: 3rem;
    width: 3em;
    position: relative;
    border-right: 2.8px solid white;
    top: 4rem;
    left: -8rem;
    z-index: 8;
    border-radius: 2rem;
}
.experience-cards > .row > .card > .card-body
{
    background: #a0cee5ba;
    position: relative;
    z-index: 2;
    top: -3.2rem;
    left: 1rem;
    border-radius: 1rem;
    box-shadow: -3px -4px 15px rgb(254 230 230 / 50%), 3px 2px 6px rgb(154 131 131);
}

.Experience > .img-content > .rel-img > img:nth-child(1)
{
    height: 19rem;
}
.Experience > .img-content > .rel-img > img:nth-child(2)
{
    height: 14rem;
    position: relative;
    left: -22rem;
}

.portfolio {
    border-top-left-radius: 8rem;
    border-top-right-radius: 7rem;
}
/* media queries */
@media only screen and (max-width: 375px){
       .carousel-item > .card > img {
            height: 4.2rem;
            width: 4.2em;
            position: relative;
            border-bottom: 4px solid white;
            top: -2rem;
            left: 0.5rem;
            z-index: 10;
            border-radius: 2rem;
        }
       .carousel-item > .card 
        {
            border: none;
        }
       .carousel-item > .card .card-body
        {
            background: #a0cee5ba;
            position: relative;
            z-index: 2;
            top: -3.2rem;
            left: 0.3rem;
            border-radius: 1rem;
            box-shadow: -3px -4px 15px rgb(254 230 230 / 50%), 3px 2px 6px rgb(154 131 131);
        }
      
}
/*medium mobile */
@media only screen and (max-width: 374px){

  /*progress svg styles*/
    .svg-img
    {
        top: -5.9rem;
        left: 2.3rem;
        height: 3.2rem;
    }

    .skillprogress
    {
        margin-left: 0.4rem !important;
    }

    .skillprogress > .circlechart 
    {
        width: 110px !important;
        height: 110px !important;
    }

    .view-more,.less
    {
        left: 42%;
    }
    .portfolio-cards > .card > .card-img-top {
        margin-left: -1rem;
    }
    .portfolio-cards > .card > .card-body {
        width: 20.4rem;
    }
    .Experience > .img-content > .rel-img > img:nth-child(2) {
        height: 10rem;
        position: relative;
        top: -11rem;
        left: 1rem;
    }
    .Experience > .img-content > .rel-img > img:nth-child(1) {
        height: 17rem;
    }
  
}

/*large mobile */
 @media only screen and (max-width: 767px) {
    .portfolio-cards > .card > .card-body {
        width: 20.4rem;
    }
    .view-more,.less 
    {
        left: 42%;
    }
    .portfolio-cards > .card > .card-img-top {
         margin-left: 0.7rem;
    }

    .portfolio-cards > .card > .card-body {
        left: 0.8rem;
    }

    .Experience > .img-content > .rel-img > img:nth-child(2) {
        height: 10rem;
        position: relative;
        top: -11rem;
        left: 1rem;
    }
    .Experience > .img-content > .rel-img > img:nth-child(1) {
        height: 17rem;
    }

     .carousel-item > .card > img {
            height: 4.2rem;
            width: 4.2em;
            position: relative;
            border-bottom: 4px solid white;
            top: -2rem;
            left: 1rem;
            z-index: 10;
            border-radius: 2rem;
        }
       .carousel-item > .card 
        {
            border: none;
        }
       .carousel-item > .card .card-body
        {
            background: #a0cee5ba;
            position: relative;
            z-index: 2;
            top: -3.2rem;
            left: 1rem;
            border-radius: 1rem;
            box-shadow: -3px -4px 15px rgb(254 230 230 / 50%), 3px 2px 6px rgb(154 131 131);
        }

}

/* medium size laptops */
@media (min-width: 1024px) {

    .portfolio-cards > .card > .card-img-top {
        margin-left: 0rem !important;
    }

    .view-more, .less {
        left: 76%;
    }

    .portfolio-cards > .card > .card-body {
        left: 0.01rem;
    }

    .Experience > .img-content > .rel-img > img:nth-child(1) {
        height: 20rem;
    }

    .Experience > .img-content > .rel-img > img:nth-child(2) {
        height: 13rem;
        position: relative;
        top: -1rem;
        left: -22rem;
    }

    .experience-cards > .row > .card > img {
        height: 5rem;
        width: 5em;
        position: relative;
        border-right: 4px solid white;
        top: 5.7rem;
        left: -12rem;
        z-index: 8;
        border-radius: 3rem;
    }

    .navbar-expand-lg .navbar-nav {
        margin-left: 28rem !important;
    }

   .skillprogress > img 
   {
    top: -6.3rem;
    left: 1.9rem;
    height: 3.8rem;
   }

}
@media (min-width: 1440px) { 
    .navbar-expand-lg .navbar-nav {
        margin-left: 46rem !important;
    }
    .portfolio-cards > .card > .card-body {
        width: 22.4rem;
    }

    .view-more, .less {
        left: 89% !important;
    }

    .Experience > .img-content > .rel-img > img:nth-child(2) {
        height: 14rem;
        position: relative;
        top: -1rem;
        left: -35rem;
    }

    .Experience > .img-content > .rel-img > img:nth-child(1) {
        height: 23rem;
        position: relative;
        left: -12rem;
    }

    .experience-cards > .row > .card > img {
        height: 7rem !important;
        width: 7em !important;
        position: relative;
        border-right: 4px solid white;
        top: 6rem;
        left: -18rem !important;
        border-radius: 3rem;
    }

    .skillprogress > img 
    {
        top: -6.3rem;
        left: 1.9rem;
         height: 3.8rem;
    }
}
/* laptop */
@media (min-width: 1200px) { 
    .portfolio-cards > .card > .card-img-top
    {
        height: 16rem;
        width: 22.8rem;
       
    }
}

