@import url('./about-me.css');
@import url('./skills.css');
@import url('../assets/plugins/progress-bar/progresscircle.css');
@import url('./contact.css');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;400&family=Quicksand:wght@300&family=Ubuntu:wght@300&display=swap');

html,body
{
    overflow-x:hidden;
}
.navbar img
{
    height: 2.4rem;
    position: relative;
    top: 0.3rem;
}

nav {
    background-color: white !important;
}

.Intro-panel
{
    padding: 2.4rem;
    background: transparent linear-gradient(180deg, #3FFFC773 0%, #B9EEECBD 100%) 0% 0% no-repeat padding-box;
    opacity: 1;
}
.Intro-panel > .img-content > .rel-img > img:nth-child(1)
{
    height: 21rem;
    z-index: -3;
}
.Intro-panel > .img-content > .rel-img > img:nth-child(2)
{
    position: absolute;
    top: 3rem;
    left: -5rem;
    height: 19rem;
    z-index: 3;
}
.intro-content >.btn
{
    width: 8rem !important;
    border-radius: 1.5rem !important;
    background: #AE4FE4D1 !important;
    box-shadow: 2px 2px 4px #7b746e94;
}
.social-icon
{
    height: 2.5rem;
}
.intro-content > h5 
{
    font-weight: 400;
}
.intro-content > h5 > span:nth-child(1)
{
    font-size: 1.5rem;
    color: #1212bb;
    font-weight: 700; 
}
.carousel-indicators  .active 
{
    background: #d7d742 !important;
}
.carousel-indicators > li
{
    height: 0.6rem;
    border: none;
    border-radius: 0.9rem;
    background: #bfbfb7 !important;
}
.intro-content > h5:nth-child(2)
{
    font-weight: 600;
    font-size: 1.5rem;
    color: #efaf5e;
}
.navbar-light .navbar-toggler {
    border: none;
    box-shadow: none !important;
    outline: none !important;
}
.panel-title > .left-border
{
    border: 0.22rem solid #C5EF1F;
    height: 0.3rem;
    background: #C5EF1F;
    width: 12rem;
    border-radius: 15px 0px 0px 15px;
} 
.panel-title > .right-border
{
    border: 0.22rem solid #C5EF1F;
    height: 0.3rem;
    background: #C5EF1F;
    width: 12rem;
    border-radius: 0px 15px 15px 0px;
}

.menu-btns
{
    box-shadow: 4px 5px 5px #cbced1, -4px -5px 5px #ffffff;
    background: #b791f3 !important;
    color: white;
    border: none;
    font-weight: 500;
}

.portfolio
{
    background: #fdf4f4;
}

/*place holder */
::placeholder
{
    font-size: 0.9rem;
    color: #a8a79e !important;
}
/* wave design */
.wave
{
    margin-left: -2rem;
}
.wave > img:nth-child(2)
{
    top: -9rem;
    position: relative;
}
#portfolio-divider
{
    position: relative;
    top: 3rem;
}

#portfolio-divider-1
{
    position: relative;
    top: -3rem;
    z-index: -3;
}

.btn-icon 
{
    height: 2rem;
}

.menu-btns-1
{
    box-shadow: -1px 2px 3px #cbced1, 2px -13px 3px #ffffff !important;
}
/*media queries */
/*small mobile */
@media only screen and (max-width: 375px){

    .btn-icon {
    height: 1.4rem;
     }
 
    .Intro-panel > .img-content > .rel-img > img:nth-child(1)
    {
        height: 12rem !important;
    }
    .Intro-panel > .img-content > .rel-img > img:nth-child(2)
    {
        height: 11rem !important;
        left: 2rem !important;
    }
    
    .view-more, .less {
    left: 38% !important;
     }
    .wave > img
    {
        height: 2rem !important; 
    }
    .wave > img:nth-child(2) {
        top: -4rem;
        position: relative;
        height: 2.5rem;
    }
    #portfolio-divider
    {
        top: 1rem;
    }
    #portfolio-divider > img 
    {
    height: 2.5rem;
    width: 22rem;
    }

    #portfolio-divider-1
    {
        top: -2rem;
    }

    #portfolio-divider-1 > img 
    {
        height: 6.5rem;
        width: 30rem;
    }
    .panel-title > .left-border,.panel-title > .right-border
    {
        width: 4rem !important;
    }

    .panel-title > h5 
    {
        font-size: 0.9rem;
        margin-top: 0.2rem;
    }

    .Contact 
    {
        border-top-left-radius: 3rem;
    }

    .Experience > .img-content > .rel-img > img:nth-child(1) {
        height: 14rem;
        left: -2rem;
    }

    .Experience > .img-content > .rel-img > img:nth-child(2) {
        height: 11rem;
        left: -1rem;
        top: -13rem;
    }

    .portfolio-cards > .card > .card-img-top {
        height: 15rem;
        width: 16rem !important;
    }
    .portfolio-cards > .card > .card-body {
        width: 16rem !important;
    }

    .skillprogress > .svg-img {
    position: relative;
    top: -5rem;
    left: 1.6rem;
    height: 2.9rem;
    }


    .skillprogress {
        margin-left: 0.4rem !important;
    }


    .about-me-panel > .img-content > .rel-img > img:nth-child(2) {
       left: 4rem;
    }

    .about-me-panel > .img-content > .rel-img > img:nth-child(2) {
       position: absolute;
       top: 3rem;
       left: 8rem;
       height: 12rem;
       z-index: 3;
   }
   .about-me-panel > .img-content > .rel-img > img:nth-child(1) {
    height: 14rem;
    z-index: -3;
   }

}
.menu-btns,.menu-btns:focus
{
    outline: none !important;
    box-shadow: 1px 2px 3px #cbced1, 2px 6px 6px #ffffff !important;
}
.skills-btn > .btn:not(.active)
{
   background: #f1edf3d1 !important;
   border: none !important; 
}
/*large mobile */
 @media only screen and (max-width: 767px) {
     .btn-icon {
      height: 1.4rem;
     }
    .Intro-panel > .img-content > .rel-img > img:nth-child(1)
    {
        height: 15rem;
    }
    .Intro-panel > .img-content > .rel-img > img:nth-child(2)
    {
        height: 12rem;
        left: 1rem;
    }

    .wave > img {
        height: 4rem;
    }

    .skillprogress > .svg-img
    {
        position: relative;
        top: -5.4rem;
        left: 1.6rem;
        height: 3.5rem;
    }

    .circle-chart {
    width: 108px;
    height: 108px;
      }

      .panel-title > .right-border {
         
         width: 6rem;
      }

       .panel-title > .left-border {
         
         width: 6rem;
      }

      .panel-title > h5
      {
        font-size: 1rem;
      }

      .img-content {
    height: 16rem !important;
    }

    .about-me-panel > .img-content > .rel-img > img:nth-child(2) {
       left: 5rem;
    }

  .about-me-panel > .img-content > .rel-img > img:nth-child(2) {
    position: absolute;
    top: 3rem;
    left: 7rem;
    height: 12rem;
    z-index: 3;
   }
   .about-me-panel > .img-content > .rel-img > img:nth-child(1) {
    height: 15rem;
    z-index: -3;
    }
}

/* medium size laptops */
@media (min-width: 1024px) { 
  
    .wave > img {
        height: 7rem;
     }

     .panel-title > .left-border, .panel-title > .right-border {
        width: 10rem;
    }

    .panel-title > h5 {
        font-size: 1.5rem;
    }

    .experience-cards > .row > .card > img {
    height: 5rem;
    width: 5em;
    position: relative;
    border-right: 4px solid white;
    top: 6rem;
    left: -13rem;
    z-index: 8;
    border-radius: 3rem;
   }

   .view-more,.less 
   {
    left: 60%;
   }

       .img-content {
        height: 19rem !important;
    }
}

@media (min-width: 1440px) { 
    .wave > img {
        height: 8rem;
    }

        .img-content {
        height: 20rem !important;
    }
}

.img-content 
{
    height: 14rem;
}

#angular-icon > img 
{
    left: 1rem !important;
}

.panel-title > h5 
{
    font-family: 'Ubuntu', sans-serif;
    font-weight: 900;
    font-size: 1.1rem;
}

.intro-content > h5,p
{
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
}
.intro-content > h4, .intro-content > h5 > span,.card-title
{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 600;
}

.intro-content > h4
{
    font-weight: 600;
    color: #e5af6f;
}

.ctitle >  span 
{
    font-weight: 600;
    font-size: 0.7rem;
    color: #0bef56;
    margin-left: 1.3rem;
}

.carousel-item > .card .card-body > p 
{
    color: #e5e5d9;
}

.ctitle >  h5 
{
    color: #0bef56;
}

.carousel-item > .card .card-body {
    background: #310558ba !important;
}