@import url('./about-me.css');
@import url('./skills.css');
@import url('../assets/plugins/progress-bar/progresscircle.css');
@import url('./contact.css');

html,body
{
    overflow-x:hidden;
}
.navbar img
{
    height: 2.4rem;
    position: relative;
    top: 0.3rem;
}

nav {
    background-color: white !important;
}

.Intro-panel
{
    padding: 2.4rem;
    background: transparent linear-gradient(180deg, #3FFFC773 0%, #B9EEECBD 100%) 0% 0% no-repeat padding-box;
    opacity: 1;
}
.Intro-panel > .img-content > .rel-img > img:nth-child(1)
{
    height: 21rem;
    z-index: -3;
}
.Intro-panel > .img-content > .rel-img > img:nth-child(2)
{
    position: absolute;
    top: 3rem;
    left: -5rem;
    height: 19rem;
    z-index: 3;
}
.intro-content >.btn
{
    width: 8rem !important;
    border-radius: 1.5rem !important;
    background: #AE4FE4D1 !important;
    box-shadow: 2px 2px 4px #7b746e94;
}
.social-icon
{
    height: 2.5rem;
}
.intro-content > h5 
{
    font-weight: 400;
}
.intro-content > h5 > span:nth-child(1)
{
    font-size: 1.5rem;
    color: #1212bb;
    font-weight: 700; 
}
.intro-content > h5:nth-child(2)
{
    font-weight: 600;
    font-size: 1.5rem;
    color: #efaf5e;
}
.navbar-light .navbar-toggler {
    border: none;
    box-shadow: none !important;
    outline: none !important;
}
.panel-title > .left-border
{
    border: 0.25rem solid #C5EF1F;
    height: 0.4rem;
    background: #C5EF1F;
    width: 12rem;
    border-radius: 15px 0px 0px 15px;
} 
.panel-title > .right-border
{
    border: 0.25rem solid #C5EF1F;
    height: 0.4rem;
    background: #C5EF1F;
    width: 12rem;
    border-radius: 0px 15px 15px 0px;
}

.menu-btns
{
    box-shadow: 4px 5px 5px #cbced1, -4px -5px 5px #ffffff;
    background: #b791f3 !important;
    color: white;
    border: none;
    font-weight: 500;
}

.portfolio
{
    background: #fdf4f4;
}

/*place holder */
::placeholder
{
    font-size: 0.9rem;
    color: #a8a79e !important;
}
/* wave design */
.wave
{
    margin-left: -2rem;
}
.wave > img:nth-child(2)
{
    top: -9rem;
    position: relative;
}
#portfolio-divider
{
    position: relative;
    top: 3rem;
}

#portfolio-divider-1
{
    position: relative;
    top: -3rem;
    z-index: -3;
}

.btn-icon 
{
    height: 2rem;
}

.menu-btns-1
{
    box-shadow: -1px 2px 3px #cbced1, 2px -13px 3px #ffffff !important;
}
/*media queries */
/*small mobile */
@media (max-width: 320px) {
 
    .Intro-panel > .img-content > .rel-img > img:nth-child(1)
    {
        height: 14rem;
    }
    .Intro-panel > .img-content > .rel-img > img:nth-child(2)
    {
        height: 12rem;
        left: -1rem;
    }

    .wave > img
    {
        height: 3.5rem; 
    }
    .wave > img:nth-child(2) {
        top: -4rem;
        position: relative;
        height: 2.5rem;
    }
    #portfolio-divider
    {
        top: 1rem;
    }
    #portfolio-divider > img 
    {
    height: 2.5rem;
    width: 22rem;
    }

    #portfolio-divider-1
    {
        top: -2rem;
    }

    #portfolio-divider-1 > img 
    {
        height: 6.5rem;
        width: 30rem;
    }
    .panel-title > .left-border,.panel-title > .right-border
    {
        width: 6rem;
    }

    .panel-title > h5 
    {
        font-size: 0.9rem;
        margin-top: 0.2rem;
    }

    .Contact 
    {
        border-top-left-radius: 3rem;
    }

    .Experience > .img-content > .rel-img > img:nth-child(1) {
        height: 14rem;
        left: -2rem;
    }

    .Experience > .img-content > .rel-img > img:nth-child(2) {
        height: 11rem;
        left: -1rem;
        top: -13rem;
    }

    .portfolio-cards > .card > .card-img-top {
        height: 15rem;
        width: 17.4rem;
    }

    .skillprogress > svg 
    {
        height: 6rem;
       width: 6rem;
    }

    .skillprogress > img 
    {
        top: -4.9rem;
        left: 1.5rem;
        height: 3rem;
    }

    .skillprogress {
        margin-left: 0.4rem !important;
    }

    .about-me-panel > .img-content > .rel-img > img:nth-child(2) {
        left: 3rem;
    }
}
/*medium mobile */
@media (min-width: 375px) { 
 
    .Intro-panel > .img-content > .rel-img > img:nth-child(1)
    {
        height: 16rem;
    }
    .Intro-panel > .img-content > .rel-img > img:nth-child(2)
    {
        height: 14rem;
        left: 1rem;
    }
    
    .wave > img
    {
        height: 4rem; 
    }

    .panel-title > .left-border,.panel-title > .right-border
    {
        width: 6rem;
    }

    .panel-title > h5 
    {
        font-size: 0.9rem;
        margin-top: 0.2rem;
    }
}

/*large mobile */
@media (min-width: 425px) { 
 
    .Intro-panel > .img-content > .rel-img > img:nth-child(1)
    {
        height: 18rem;
    }
    .Intro-panel > .img-content > .rel-img > img:nth-child(2)
    {
        height: 16rem;
        left: 1rem;
    }
}

/* medium size laptops */
@media (min-width: 1024px) { 
  
    .wave > img {
        height: 5rem;
     }

     .panel-title > .left-border, .panel-title > .right-border {
        width: 10rem;
    }

    .panel-title > h5 {
        font-size: 1.5rem;
    }
}

@media (min-width: 1440px) { 
    .wave > img {
        height: 8rem;
    }
}